.script-viewer {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.all-conversations {
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pagination {
  align-self: flex-end;
}
.single-conversation {
  display: flex;
  flex-direction: column;
  border: 1px solid #2e88c4;
  width: 300px;
  min-height: 400px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  justify-content: space-between;
}
.conversation-title {
  margin-top: 5px;
  align-self: center;
  text-align: center;
}
.line {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0.5em;
}
.active.line {
  border: 2px solid #ff2f56 !important;
}
.line.left {
  background-color: #92d1fb;
  border: 2px solid #92d1fb;
  margin-right: 2em;
}
.line.left.hidden {
  color: #92d1fb;
}
.line.right {
  background-color: #d8d8d8;
  border: 2px solid #d8d8d8;
  align-self: flex-end;
  margin-left: 2em;
}
.line.right.hidden {
  color: #d8d8d8;
}
.controls {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}
button {
  border: 0;
  height: 30px;
  min-width: 80px;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
}
button:hover {
  box-shadow: 2px 1px 2px rgba(0,0,0,0.5);
}
button:focus {
  outline:0;
}
button.primary, button.play, button.next {
  background-color: #2086ca;
  color: white;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #2086ca;
  opacity: 0.8;
}
a:hover {
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.sound-sprite {
  align-self: center;
}
.bold {
  font-weight: bold;
}
