.script-viewer {

}
.all-conversations {
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pagination {
  align-self: flex-end;
}
.single-conversation {
  display: flex;
  flex-direction: column;
  border: 1px solid #2e88c4;
  min-width: 250px;
  min-height: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.conversation-title {
  align-self: center;
}
.line {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 0.5em;
  color: #fff;
}
.active.line {
  border: 2px solid #ff88c4 !important;
}
.line.left {
  background-color: #2e88c4;
  border: 2px solid #2e88c4;
  margin-right: 2em;
}
.line.right {
  background-color: #8c8c8c;
  border: 2px solid #8c8c8c;
  align-self: flex-end;
  margin-left: 2em;
}
.controls {
  flex-direction: row;
}
button {
  height: 30px;
  min-width: 80px;
  border-radius: 10px;
}
.sound-sprite {
  margin-top: 10px;
  align-self: center;
}
