.body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.hidden {
  visibility: hidden;
}
.transparent {
  opacity: 0 !important;
}

/* TODO: add media query here */
.hidden-on-mobile {
  visibility: hidden;
}
